# CREDIT RISK MODEL USING A BIGGER FILE

In [38]:
import tensorflow as tf
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split

In [39]:
data = pd.read_csv('/Users/ilabuser/Downloads/lending-club-loan-data/loan.csv', low_memory=False)

In [40]:
len(data)

887379

In [41]:
list(data.columns)

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_il_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m']

In [42]:
data['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'], dtype=object)

In [43]:
data['safe_loans'] = data['loan_status'].apply(lambda x : 0 
                                               if x in ["Charged Off ",
                                                        "Default",
                                                        "Does not meet the credit policy. Status:Charged Off",
                                                        "In Grace Period", 
                                                        "Default Receiver", 
                                                        "Late (16-30 days)",
                                                        "Late (31-120 days)"] 
                                               else +1)

In [44]:
data['last_delinq_none'] = data['mths_since_last_delinq'].apply(lambda x : 0 if x > 0 else +1)

In [45]:
data['last_major_derog_none'] = data['mths_since_last_major_derog'].apply(lambda x : 0 if x > 0 else +1)

In [46]:
data['short_emp'] = data['emp_length'].apply(lambda x : +1 if x == '< 1 year' else 0)

In [47]:
data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,safe_loans,last_delinq_none,last_major_derog_none,short_emp
0,1077501,1296599,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
1,1077430,1314167,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1
2,1077175,1313524,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
3,1076863,1277178,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,0
4,1075358,1311748,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,0
5,1075269,1311441,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
6,1069639,1304742,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
7,1072053,1288686,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
8,1071795,1306957,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
9,1071570,1306721,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1
10,1070078,1305201,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
11,1069908,1305008,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
12,1064687,1298717,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1
13,1069866,1304956,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
14,1069057,1303503,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
15,1069759,1304871,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1
16,1065775,1299699,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,0
17,1069971,1304884,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
18,1062474,1294539,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,0
19,1069742,1304855,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
20,1069740,1284848,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
21,1039153,1269083,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
22,1069710,1304821,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
23,1069700,1304810,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
24,1069559,1304634,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
25,1069697,1273773,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
26,1069800,1304679,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,0
27,1069657,1304764,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,0
28,1069799,1304678,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,0
29,1047704,1278806,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,36691397,39434133,20000.0,20000.0,20000.000000,36 months,6.99,617.46,A,A3,...,NaN,NaN,39700.0,NaN,NaN,NaN,1,0,0,0
887350,36500819,39232937,10300.0,10300.0,10300.000000,60 months,13.66,237.86,C,C3,...,NaN,NaN,22000.0,NaN,NaN,NaN,1,0,1,0
887351,36743377,39486112,4200.0,4200.0,4200.000000,36 months,15.99,147.64,D,D2,...,NaN,NaN,20400.0,NaN,NaN,NaN,1,0,0,0
887352,36231083,38942474,15000.0,15000.0,15000.000000,36 months,11.99,498.15,B,B5,...,NaN,NaN,9700.0,NaN,NaN,NaN,1,1,1,1
887353,36371802,39103231,15000.0,15000.0,15000.000000,60 months,11.44,329.44,B,B4,...,NaN,NaN,26100.0,NaN,NaN,NaN,1,1,1,0
887354,36250801,38962184,6000.0,6000.0,6000.000000,36 months,17.86,216.50,D,D5,...,NaN,NaN,8500.0,NaN,NaN,NaN,1,1,1,0
887355,36331554,39042967,26950.0,26950.0,26950.000000,36 months,8.19,846.88,A,A5,...,NaN,NaN,129100.0,NaN,NaN,NaN,1,1,1,0
887356,36460697,39182359,23000.0,23000.0,23000.000000,60 months,15.59,554.32,D,D1,...,NaN,NaN,65600.0,NaN,NaN,NaN,1,1,1,0
887357,35773415,38468842,18700.0,18700.0,18700.000000,60 months,17.86,473.44,D,D5,...,NaN,NaN,10200.0,NaN,NaN,NaN,1,0,0,0
887358,36440728,39152101,25000.0,25000.0,25000.000000,60 months,15.99,607.82,D,D2,...,NaN,NaN,18700.0,NaN,NaN,NaN,1,1,1,0
887359,35591131,38288343,25000.0,25000.0,25000.000000,60 months,15.59,602.52,D,D1,...,NaN,NaN,24400.0,NaN,NaN,NaN,1,1,1,0
887360,36361815,39093260,26500.0,26500.0,26500.000000,60 months,8.67,545.87,B,B1,...,NaN,NaN,118600.0,NaN,NaN,NaN,1,0,1,0
887361,36201871,38913321,21000.0,21000.0,21000.000000,36 months,6.03,639.15,A,A1,...,NaN,NaN,76300.0,NaN,NaN,NaN,1,1,1,0
887362,36381756,39013193,8000.0,8000.0,8000.000000,36 months,8.19,251.40,A,A5,...,NaN,NaN,7300.0,NaN,NaN,NaN,1,0,0,0
887363,36231724,38943173,12000.0,12000.0,12000.000000,36 months,9.49,384.34,B,B2,...,NaN,NaN,11900.0,NaN,NaN,NaN,1,0,0,0
887364,36231718,38943165,10775.0,10775.0,10775.000000,36 months,6.03,327.95,A,A1,...,NaN,NaN,41700.0,NaN,NaN,NaN,1,0,0,1
887365,36381704,39013139,7000.0,7000.0,7000.000000,36 months,14.31,240.30,C,C4,...,NaN,NaN,9900.0,NaN,NaN,NaN,1,0,0,0
887366,36241316,38952731,6225.0,6225.0,6225.000000,36 months,16.49,220.37,D,D3,...,NaN,NaN,1800.0,NaN,NaN,NaN,1,1,1,0
887367,36301729,39023153,10000.0,10000.0,10000.000000,36 months,6.49,306.45,A,A2,...,NaN,NaN,30300.0,NaN,NaN,NaN,1,0,1,0
887368,36250208,38961532,13150.0,13150.0,13150.000000,60 months,14.99,312.77,C,C5,...,NaN,NaN,20700.0,NaN,NaN,NaN,1,1,1,0
887369,36421485,39142898,4000.0,4000.0,4000.000000,36 months,8.67,126.59,B,B1,...,NaN,NaN,30100.0,NaN,NaN,NaN,1,1,1,0
887370,35094480,37777829,7500.0,7500.0,7500.000000,36 months,9.49,240.22,B,B2,...,NaN,NaN,14500.0,NaN,NaN,NaN,1,0,0,0
887371,36260758,38972123,10850.0,10850.0,10850.000000,36 months,19.24,399.04,E,E2,...,NaN,NaN,16800.0,NaN,NaN,NaN,1,0,1,0
887372,36330911,39042282,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,...,NaN,NaN,30300.0,NaN,NaN,NaN,1,0,0,1
887373,36221446,38932858,11575.0,11575.0,11575.000000,36 months,15.59,404.61,D,D1,...,NaN,NaN,28100.0,NaN,NaN,NaN,1,1,1,0
887374,36371250,39102635,10000.0,10000.0,10000.000000,36 months,11.99,332.10,B,B5,...,NaN,NaN,17100.0,NaN,NaN,NaN,1,1,1,0
887375,36441262,39152692,24000.0,24000.0,24000.000000,36 months,11.99,797.03,B,B5,...,NaN,NaN,10200.0,NaN,NaN,NaN,1,0,0,0
887376,36271333,38982739,13000.0,13000.0,13000.000000,60 months,15.99,316.07,D,D2,...,NaN,NaN,18000.0,NaN,NaN,NaN,1,1,1,0
887377,36490806,39222577,12000.0,12000.0,12000.000000,60 months,19.99,317.86,E,E3,...,NaN,NaN,27000.0,NaN,NaN,NaN,1,0,0,0
887378,36271262,38982659,20000.0,20000.0,20000.000000,36 months,11.99,664.20,B,B5,...,NaN,NaN,41700.0,NaN,NaN,NaN,1,1,1,0

In [48]:
print sum(data['safe_loans']==-1)
print sum(data['safe_loans']==1)

0
865198

In [49]:
col_subset = ['grade',                     # grade of the loan
            'sub_grade',                 # sub-grade of the loan
            'short_emp',                 # one year or less of employment
            'emp_length',                # number of years of employment
            'home_ownership',            # home_ownership status: own, mortgage or rent
            'dti',                       # debt to income ratio
            'purpose',                   # the purpose of the loan
            'term',                      # the term of the loan
            'last_delinq_none',          # has borrower had a delinquincy
            'last_major_derog_none',     # has borrower had 90 day or worse rating
            'revol_util',                # percent of available credit being used
            'total_rec_late_fee',        # total late fees received to day
            'safe_loans'      
           ]

In [50]:
data_clean  = data[col_subset].dropna()

In [51]:
training_set, test_set = train_test_split(data_clean, test_size = 0.2)

In [69]:
print sum(training_set['safe_loans']==0)
print sum(training_set['safe_loans']==1)

17671
691830

In [70]:
print sum(test_set['safe_loans']==0)
print sum(test_set['safe_loans']==1)

4490
172886

In [54]:
def input_fn(df):
    # Creates a dictionary mapping from each continuous feature column name (k) to
    # the values of that column stored in a constant Tensor.
    continuous_cols = {k: tf.constant(df[k].values)
                       for k in CONTINUOUS_COLUMNS}
    # Creates a dictionary mapping from each categorical feature column name (k)
    # to the values of that column stored in a tf.SparseTensor.
    categorical_cols = {k: tf.SparseTensor(
        indices=[[i, 0] for i in range(df[k].size)],
        values=df[k].values,
        shape=[df[k].size, 1])
                        for k in CATEGORICAL_COLUMNS}
    # Merges the two dictionaries into one.
    feature_cols = dict(continuous_cols.items() + categorical_cols.items())
    # Converts the label column into a constant Tensor.
    label = tf.constant(df[LABEL_COLUMN].values)
    # Returns the feature columns and the label.
    return feature_cols, label

def train_input_fn():
    return input_fn(training_set)

def eval_input_fn():
    return input_fn(test_set)

In [55]:
features = ['grade',                     # grade of the loan
            'sub_grade',                 # sub-grade of the loan
            'short_emp',                 # one year or less of employment
            'emp_length',                # number of years of employment
            'home_ownership',            # home_ownership status: own, mortgage or rent
            'dti',                       # debt to income ratio
            'purpose',                   # the purpose of the loan
            'term',                      # the term of the loan
            'last_delinq_none',          # has borrower had a delinquincy
            'last_major_derog_none',     # has borrower had 90 day or worse rating
            'revol_util',                # percent of available credit being used
            'total_rec_late_fee',        # total late fees received to day
           ]

LABEL_COLUMN = 'safe_loans'              # prediction target (y) (+1 means safe, -1 is risky)

In [56]:
tensor_features = {}
CATEGORICAL_COLUMNS = []
CONTINUOUS_COLUMNS = []

for i in features:
    if (data[i].dtype == 'int64') or (data[i].dtype == 'float64'):
        CONTINUOUS_COLUMNS.append(i) 
        tensor_features[i] = tf.contrib.layers.real_valued_column(i)
    else:
        CATEGORICAL_COLUMNS.append(i)
        tensor_features[i] = tf.contrib.layers.sparse_column_with_keys(
                              column_name=i, keys=list(data[i].unique()))

In [57]:
CATEGORICAL_COLUMNS

['grade', 'sub_grade', 'emp_length', 'home_ownership', 'purpose', 'term']

In [58]:
CONTINUOUS_COLUMNS

['short_emp',
 'dti',
 'last_delinq_none',
 'last_major_derog_none',
 'revol_util',
 'total_rec_late_fee']

In [59]:
import tempfile

In [60]:
model_dir = tempfile.mkdtemp()
model = tf.contrib.learn.LinearClassifier(feature_columns=[tensor_features['grade'],
                                                           tensor_features['sub_grade'],
                                                           tensor_features['short_emp'],
                                                           tensor_features['emp_length'],             
                                                           tensor_features['home_ownership'],              
                                                           tensor_features['dti'],                     
                                                           tensor_features['purpose'],
                                                           tensor_features['term'],
                                                           tensor_features['last_delinq_none'],
                                                           tensor_features['last_major_derog_none'],
                                                           tensor_features['revol_util'],
                                                           tensor_features['total_rec_late_fee']],
                                            model_dir=model_dir)

In [61]:
model.fit(input_fn=train_input_fn, steps=200)

WARNING:tensorflow:create_partitioned_variables is deprecated.  Use tf.get_variable with a partitioner set, or tf.get_partitioned_variable_list, instead.
WARNING:tensorflow:create_partitioned_variables is deprecated.  Use tf.get_variable with a partitioner set, or tf.get_partitioned_variable_list, instead.
WARNING:tensorflow:create_partitioned_variables is deprecated.  Use tf.get_variable with a partitioner set, or tf.get_partitioned_variable_list, instead.
WARNING:tensorflow:create_partitioned_variables is deprecated.  Use tf.get_variable with a partitioner set, or tf.get_partitioned_variable_list, instead.
WARNING:tensorflow:create_partitioned_variables is deprecated.  Use tf.get_variable with a partitioner set, or tf.get_partitioned_variable_list, instead.
WARNING:tensorflow:create_partitioned_variables is deprecated.  Use tf.get_variable with a partitioner set, or tf.get_partitioned_variable_list, instead.

LinearClassifier()

In [62]:
results = model.evaluate(input_fn=eval_input_fn, steps=1)
for key in sorted(results):
    print "%s: %s" % (key, results[key])

WARNING:tensorflow:create_partitioned_variables is deprecated.  Use tf.get_variable with a partitioner set, or tf.get_partitioned_variable_list, instead.
WARNING:tensorflow:create_partitioned_variables is deprecated.  Use tf.get_variable with a partitioner set, or tf.get_partitioned_variable_list, instead.
WARNING:tensorflow:create_partitioned_variables is deprecated.  Use tf.get_variable with a partitioner set, or tf.get_partitioned_variable_list, instead.
WARNING:tensorflow:create_partitioned_variables is deprecated.  Use tf.get_variable with a partitioner set, or tf.get_partitioned_variable_list, instead.
WARNING:tensorflow:create_partitioned_variables is deprecated.  Use tf.get_variable with a partitioner set, or tf.get_partitioned_variable_list, instead.
WARNING:tensorflow:create_partitioned_variables is deprecated.  Use tf.get_variable with a partitioner set, or tf.get_partitioned_variable_list, instead.

accuracy: 0.974455
eval_auc: 0.678499
loss: 0.112735

In [63]:
pred_labels = model.predict(input_fn=eval_input_fn)

WARNING:tensorflow:create_partitioned_variables is deprecated.  Use tf.get_variable with a partitioner set, or tf.get_partitioned_variable_list, instead.
WARNING:tensorflow:create_partitioned_variables is deprecated.  Use tf.get_variable with a partitioner set, or tf.get_partitioned_variable_list, instead.
WARNING:tensorflow:create_partitioned_variables is deprecated.  Use tf.get_variable with a partitioner set, or tf.get_partitioned_variable_list, instead.
WARNING:tensorflow:create_partitioned_variables is deprecated.  Use tf.get_variable with a partitioner set, or tf.get_partitioned_variable_list, instead.
WARNING:tensorflow:create_partitioned_variables is deprecated.  Use tf.get_variable with a partitioner set, or tf.get_partitioned_variable_list, instead.
WARNING:tensorflow:create_partitioned_variables is deprecated.  Use tf.get_variable with a partitioner set, or tf.get_partitioned_variable_list, instead.

In [67]:
print sum(pred_labels==0)
print sum(pred_labels==1)

67
177309

In [102]:
true_labels = np.array(test_set['safe_loans']).astype(int)
pred_labels[0]

1

In [101]:
for i in xrange(len(true_labels)):
    true_positive = sum((pred_labels[i] == 1) and (true_labels[i] == 1)) 
    true_negative = sum((pred_labels[i] == 0) and (true_labels[i] == 0))
    false_positive = sum((pred_labels[i] == 1) and (true_labels[i] == 0))
    false_negative = sum((pred_labels[i] == 0) and (true_labels[i] == 1))

TypeError: 'numpy.bool_' object is not iterable

In [103]:
true_labels

array([1, 1, 1, ..., 1, 1, 1])